In [6]:
import pandas as pd
from pyxlsb import open_workbook
from openpyxl import load_workbook
from openpyxl.styles import Font

In [39]:

file_path = "/Users/shivangsingh/Downloads/1.36 Oakbrook Capital Ltd - Borrowing Bases Report - 2025-01-31.xlsb"

sheets_to_import = ["Borrowing Bases", "OC2 Total Receivable Schedule", "OCI Total Receivable Schedule"]

dfs = {}
for sheet in sheets_to_import:
    dfs[sheet] = pd.read_excel(file_path, sheet_name=sheet, engine="pyxlsb")


df_oci = dfs["OCI Total Receivable Schedule"]
df_oc2 = dfs["OC2 Total Receivable Schedule"]
df_borrowing = dfs["Borrowing Bases"]

In [40]:
df_oc2

,AgreementRef,StartDate,PurchaseDate,LOB,MonthOfRecruitment,YearMonthSnapshot,APR,LoanTerm,LoanSize,AccountOriginationSource,...,h,i,j,k,l,m,n,o,p,q
0,1300382496,44305,44620,Prime,202104,202501,11.9,36,10000.00,Clearscore - Direct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1300382777,44305,44620,Prime,202104,202501,12.9,30,9000.00,Clearscore - Direct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1300383042,44306,44620,Prime,202104,202501,12.9,24,3000.00,Clearscore - Direct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1300383411,44308,44620,Prime,202104,202501,10.9,24,5000.00,Clearscore - Direct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1300386057,44320,44620,Prime,202105,202501,10.9,48,7000.00,Clearscore - Direct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45748,1300730415,45684,45687,Near Prime,202501,202501,28.8,60,10000.00,asda,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45749,1300730832,45685,45688,Near Prime,202501,202501,19.4,60,9878.77,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45750,1300730999,45685,45688,Near Prime,202501,202501,19.8,51,16847.50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45751,1300731005,45685,45688,Near Prime,202501,202501,33.9,41,4460.25,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45752,1300731133,45686,45689,Near Prime,202501,202501,34.9,12,3000.00,realrates,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:

file_path = "/Users/shivangsingh/Downloads/1.50 Oakbrook Capital Ltd MSR Report - 2025-01-31 (2).xlsb"

# Define the sheet names you need
sheets_to_import = ["Covenants NEW", "Concentration Limits NEW"]

dfs = {}
for sheet in sheets_to_import:
    dfs[sheet] = pd.read_excel(file_path, sheet_name=sheet, engine="pyxlsb")

# Access individual DataFrames
df_covenants = dfs["Covenants NEW"]
df_concentration_limits = dfs["Concentration Limits NEW"]

In [42]:
df_covenants.head()

,Oakbrook Concentration Limit Summary,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,"As of January 31, 2025",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Period Start,Period End,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Near Prime 2021 Cumulative Default Triggers,NaN,NaN,NaN,NaN,Front Book Cumulative Defaults,NaN,NaN
2,NaN,NaN,NaN,45658,45688,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UPB of Eligible Underlying Receivables:,NaN,NaN,101531758.309999,101117341.92,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Tier I,Tier II,NaN,NaN,NaN,NaN,Tier I,Tier II
4,UPB of Eligible Near-Prime Receivables:,NaN,NaN,13643664.2,13298320.23,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.02392,0.02645,NaN,NaN,NaN,0,0.056,0.074

In [ ]:

# df = pd.read_csv('/Users/shivangsingh/Downloads/20250115 - Ares.csv')
df_oci.columns = df_oci.columns.str.strip()

book_size_ares = df_oci.loc[df_oci["YearMonthStatus"] == "OPEN", "PrincipalBalance"].sum()
print("book_size", book_size_ares)
# WA APR 
wa_apr_numerator = (df_oci["PrincipalBalance"] * df_oci["APR"] * (df_oci["YearMonthStatus"] == "OPEN")).sum()
wa_apr_denominator_a = df_oci.loc[df_oci["YearMonthStatus"] == "OPEN", "PrincipalBalance"].sum()
wa_apr_ares = wa_apr_numerator / wa_apr_denominator_a if wa_apr_denominator_a != 0 else 0
print("wa_apr", wa_apr_ares)
month_value = df_oci["MonthOfRecruitment"].iloc[-1]
total_originations_ares = df_oci.loc[
    (df_oci["YearMonthStatus"] == "OPEN") & (df_oci["MonthOfRecruitment"] == month_value),
    "PrincipalBalance"
].sum()
print("total_originations", total_originations_ares)

book_size 104845246.60000001
wa_apr 53.446310064351536
total_originations 11028248.379999999

In [ ]:


# df_oc2 = pd.read_csv('/Users/shivangsingh/Downloads/202412 - JPM.csv')
df_oc2.columns = df_oc2.columns.str.strip()
# df
book_size_jpm = df_oc2.loc[df_oc2["YearMonthStatus"] == "OPEN", "PrincipalBalance"].sum()
print("book_size", book_size_jpm)
# WA APR 
wa_apr_numerator = (df_oc2["PrincipalBalance"] * df_oc2["APR"] * (df_oc2["YearMonthStatus"] == "OPEN")).sum()
wa_apr_denominator_j = df_oc2.loc[df_oc2["YearMonthStatus"] == "OPEN", "PrincipalBalance"].sum()
wa_apr_jpm = wa_apr_numerator / wa_apr_denominator_j if wa_apr_denominator_j != 0 else 0
print("wa_apr", wa_apr_jpm)
month_value = df_oc2["MonthOfRecruitment"].iloc[-1]
total_originations_jpm = df_oc2.loc[
    (df_oc2["YearMonthStatus"] == "OPEN") & (df_oc2["MonthOfRecruitment"] == month_value),
    "PrincipalBalance"
].sum()
print("total_originations", total_originations_jpm)

book_size 110843478.92
wa_apr 23.831343748065752
total_originations 8835591.3

In [ ]:
wa_apr_total = (wa_apr_denominator_a*wa_apr_ares + wa_apr_denominator_j*wa_apr_jpm)/(wa_apr_denominator_a+wa_apr_denominator_j)
print(wa_apr_total)
# (104845246.60000001*53.4 + 110843478.92*23.8)/(110843478.92+104845246.60000001)

38.18841688121631

In [45]:
# Ares Borrowing Base
senior_value = df_borrowing.iloc[90, 3]  # D92 (row 91, column 3)
sub_a_value = df_borrowing.iloc[90, 4]   # E92 (row 91, column 4)
bci_value = df_borrowing.iloc[109, 4]    # E111 (row 110, column 4)
ritmir_value = df_borrowing.iloc[110, 4] # E112 (row 111, column 4)
two_b_capital_value = df_borrowing.iloc[111, 4]  # E113 (row 112, column 4)
print(senior_value)
print(sub_a_value)
print(bci_value)
print(ritmir_value)
print(two_b_capital_value)
print("---------------")
# JPM Borrowing Base
senior_jpm_value = df_borrowing.iloc[61, 12]
mezz_jpm_value = df_borrowing.iloc[62, 12]
print(senior_jpm_value)
print(mezz_jpm_value)

81581853.2871497
12835498.938712738
8728139.278712738
2053679.83
2053679.83
---------------
89687258.81999996
15082954.45

In [46]:
# Convenants NEW
# TNW
ynw_actual = df_covenants.iloc[114, 3]
ynw_threshold = df_covenants.iloc[114, 4]
print(ynw_actual)
print(ynw_threshold)
print("------------")
# Operational Liquidity
ol_actual = df_covenants.iloc[116, 3]
ol_threshold = df_covenants.iloc[116, 4]
print(ol_actual)
print(ol_threshold)
print("------------")
# Excess Spread
spread = f"{df_covenants.iloc[79, 5] * 100:.2f}%"
delinquicy = f"{df_covenants.iloc[72, 5] * 100:.2f}%"
losses = f"{df_covenants.iloc[65, 5] * 100:.2f}%"
default = f"{df_covenants.iloc[109, 5] * 100:.2f}%"
print(spread)
print(delinquicy)
print(losses)
print(default)

nan
26942000
------------
nan
2000000
------------
28.45%
4.94%
23.38%
3.45%

In [47]:
# Function to format percentages while handling "-" and NaN values
def format_percent(value):
    if pd.isna(value) or value == "-" or value == "":
        return ""  # Keep it empty if it's NaN, "-", or blank
    return f"{float(value) * 100:.2f}%"

In [48]:
# Concentrations Limit NEW
term = df_concentration_limits.iloc[12, 5]
delphi = df_concentration_limits.iloc[13, 5]
average = df_concentration_limits.iloc[14, 5]
term_thresh = df_concentration_limits.iloc[12, 4]
delphi_thresh = df_concentration_limits.iloc[13, 4]
average_thresh = df_concentration_limits.iloc[14, 4]
print(term)
print(delphi)
print(average)
print(term_thresh)
print(delphi_thresh)
print(average_thresh)
print("----------------------------")
# C Limits
term_48 = format_percent(df_concentration_limits.iloc[20, 7])
delphi_725 = format_percent(df_concentration_limits.iloc[21, 7])
delphi_650 = format_percent(df_concentration_limits.iloc[22, 7])
opb_5000 = format_percent(df_concentration_limits.iloc[23, 7])
delphi_500 = format_percent(df_concentration_limits.iloc[24, 7])
arrears = format_percent(df_concentration_limits.iloc[25, 7])
covid = format_percent(df_concentration_limits.iloc[26, 7])
covid_3m = format_percent(df_concentration_limits.iloc[27, 7])
delphi_700 = format_percent(df_concentration_limits.iloc[28, 7])
prime = format_percent(df_concentration_limits.iloc[29, 7])
thin = format_percent(df_concentration_limits.iloc[30, 7])
single_borr = format_percent(df_concentration_limits.iloc[31, 7])

term_48_thresh = format_percent(df_concentration_limits.iloc[20, 4])
delphi_725_thresh = format_percent(df_concentration_limits.iloc[21, 4])
delphi_650_thresh = format_percent(df_concentration_limits.iloc[22, 4])
opb_5000_thresh = format_percent(df_concentration_limits.iloc[23, 4])
delphi_500_thresh = format_percent(df_concentration_limits.iloc[24, 4])
arrears_thresh = format_percent(df_concentration_limits.iloc[25, 4])
covid_thresh = format_percent(df_concentration_limits.iloc[26, 4])
covid_3m_thresh = format_percent(df_concentration_limits.iloc[27, 4])
delphi_700_thresh = format_percent(df_concentration_limits.iloc[28, 4])
prime_thresh = format_percent(df_concentration_limits.iloc[29, 4])
thin_thresh = format_percent(df_concentration_limits.iloc[30, 4])
single_borr_thresh = format_percent(df_concentration_limits.iloc[31, 4])
print(term_48)
print(delphi_725)
print(delphi_650)
print(opb_5000)
print(delphi_500)
print(arrears)
print(covid)
print(covid_3m)
print(delphi_700)
print(prime)
print(thin)
print(single_borr)
print("---------")
print(term_48_thresh)
print(delphi_725_thresh)
print(delphi_650_thresh)
print(opb_5000_thresh)
print(delphi_500_thresh)
print(arrears_thresh)
print(covid_thresh)
print(covid_3m_thresh)
print(delphi_700_thresh)
print(prime_thresh)
print(thin_thresh)
print(single_borr_thresh)

28.952040942751175
735.5782845225112
2248.962831506133
36
700
3600
----------------------------
6.02%
14.38%
4.62%
4.76%
11.81%
4.26%
0.01%
0.01%
0.00%
0.03%
0.00%
0.00%
---------
20.00%
22.50%
10.00%
25.00%
12.50%
8.00%
15.00%
5.00%
10.00%
10.00%
5.00%
0.00%

In [49]:
# Book Non Prime

q1_17 = format_percent(df_covenants.iloc[16, 5])
q2_17 = format_percent(df_covenants.iloc[17, 5])
q3_17 = format_percent(df_covenants.iloc[18, 5])
q4_17 = format_percent(df_covenants.iloc[19, 5])
q1_18 = format_percent(df_covenants.iloc[20, 5])
q2_18 = format_percent(df_covenants.iloc[21, 5])
q3_18 = format_percent(df_covenants.iloc[22, 5])
q4_18 = format_percent(df_covenants.iloc[23, 5])
q1_19 = format_percent(df_covenants.iloc[24, 5])
q2_19 = format_percent(df_covenants.iloc[25, 5])
q3_19 = format_percent(df_covenants.iloc[26, 5])
q4_19 = format_percent(df_covenants.iloc[27, 5])
q1_20 = format_percent(df_covenants.iloc[28, 5])
q3_20 = format_percent(df_covenants.iloc[29, 5])
q4_20 = format_percent(df_covenants.iloc[30, 5])
q1_21 = format_percent(df_covenants.iloc[31, 5])
q2_21 = format_percent(df_covenants.iloc[32, 5])
q3_21 = format_percent(df_covenants.iloc[33, 5])
q4_21 = format_percent(df_covenants.iloc[34, 5])
q1_22 = format_percent(df_covenants.iloc[35, 5])

q1_17_tier1 = format_percent(df_covenants.iloc[16, 6])
q2_17_tier1 = format_percent(df_covenants.iloc[17, 6])
q3_17_tier1 = format_percent(df_covenants.iloc[18, 6])
q4_17_tier1 = format_percent(df_covenants.iloc[19, 6])
q1_18_tier1 = format_percent(df_covenants.iloc[20, 6])
q2_18_tier1 = format_percent(df_covenants.iloc[21, 6])
q3_18_tier1 = format_percent(df_covenants.iloc[22, 6])
q4_18_tier1 = format_percent(df_covenants.iloc[23, 6])
q1_19_tier1 = format_percent(df_covenants.iloc[24, 6])
q2_19_tier1 = format_percent(df_covenants.iloc[25, 6])
q3_19_tier1 = format_percent(df_covenants.iloc[26, 6])
q4_19_tier1 = format_percent(df_covenants.iloc[27, 6])
q1_20_tier1 = format_percent(df_covenants.iloc[28, 6])
q3_20_tier1 = format_percent(df_covenants.iloc[29, 6])
q4_20_tier1 = format_percent(df_covenants.iloc[30, 6])
q1_21_tier1 = format_percent(df_covenants.iloc[31, 6])
q2_21_tier1 = format_percent(df_covenants.iloc[32, 6])
q3_21_tier1 = format_percent(df_covenants.iloc[33, 6])
q4_21_tier1 = format_percent(df_covenants.iloc[34, 6])
q1_22_tier1 = format_percent(df_covenants.iloc[35, 6])

q1_17_tier2 = format_percent(df_covenants.iloc[16, 9])
q2_17_tier2 = format_percent(df_covenants.iloc[17, 9])
q3_17_tier2 = format_percent(df_covenants.iloc[18, 9])
q4_17_tier2 = format_percent(df_covenants.iloc[19, 9])
q1_18_tier2 = format_percent(df_covenants.iloc[20, 9])
q2_18_tier2 = format_percent(df_covenants.iloc[21, 9])
q3_18_tier2 = format_percent(df_covenants.iloc[22, 9])
q4_18_tier2 = format_percent(df_covenants.iloc[23, 9])
q1_19_tier2 = format_percent(df_covenants.iloc[24, 9])
q2_19_tier2 = format_percent(df_covenants.iloc[25, 9])
q3_19_tier2 = format_percent(df_covenants.iloc[26, 9])
q4_19_tier2 = format_percent(df_covenants.iloc[27, 9])
q1_20_tier2 = format_percent(df_covenants.iloc[28, 9])
q3_20_tier2 = format_percent(df_covenants.iloc[29, 9])
q4_20_tier2 = format_percent(df_covenants.iloc[30, 9])
q1_21_tier2 = format_percent(df_covenants.iloc[31, 9])
q2_21_tier2 = format_percent(df_covenants.iloc[32, 9])
q3_21_tier2 = format_percent(df_covenants.iloc[33, 9])
q4_21_tier2 = format_percent(df_covenants.iloc[34, 9])
q1_22_tier2 = format_percent(df_covenants.iloc[35, 9])

print(q1_17)
print(q2_17)
print(q3_17)
print(q4_17)
print(q1_18)
print(q2_18)
print(q3_18)
print(q4_18)
print(q1_21)
print(q2_21)
print(q3_21)
print(q4_21)
print(q1_22)
print("----------")
print(q3_21_tier1)
print(q3_21_tier2)
print(q1_22_tier1)
print(q1_22_tier2)
print("///////////////////")


# Book Near Prime
np_q1_18 = format_percent(df_covenants.iloc[39, 5])
np_q2_18 = format_percent(df_covenants.iloc[40, 5])
np_h2_18 = format_percent(df_covenants.iloc[41, 5])
np_q1_19 = format_percent(df_covenants.iloc[42, 5])
np_q2_19 = format_percent(df_covenants.iloc[43, 5])
np_q3_19 = format_percent(df_covenants.iloc[44, 5])
np_q4_19 = format_percent(df_covenants.iloc[45, 5])
np_q1_20 = format_percent(df_covenants.iloc[46, 5])
np_q3_q4_20_21 = format_percent(df_covenants.iloc[47, 5])

np_q1_18_tier1 = format_percent(df_covenants.iloc[39, 6])
np_q2_18_tier1 = format_percent(df_covenants.iloc[40, 6])
np_h2_18_tier1 = format_percent(df_covenants.iloc[41, 6])
np_q1_19_tier1 = format_percent(df_covenants.iloc[42, 6])
np_q2_19_tier1 = format_percent(df_covenants.iloc[43, 6])
np_q3_19_tier1 = format_percent(df_covenants.iloc[44, 6])
np_q4_19_tier1 = format_percent(df_covenants.iloc[45, 6])
np_q1_20_tier1 = format_percent(df_covenants.iloc[46, 6])
np_q3_q4_20_21_tier1 = format_percent(df_covenants.iloc[47, 6])

np_q1_18_tier2 = format_percent(df_covenants.iloc[39, 9])
np_q2_18_tier2 = format_percent(df_covenants.iloc[40, 9])
np_h2_18_tier2 = format_percent(df_covenants.iloc[41, 9])
np_q1_19_tier2 = format_percent(df_covenants.iloc[42, 9])
np_q2_19_tier2 = format_percent(df_covenants.iloc[43, 9])
np_q3_19_tier2 = format_percent(df_covenants.iloc[44, 9])
np_q4_19_tier2 = format_percent(df_covenants.iloc[45, 9])
np_q1_20_tier2 = format_percent(df_covenants.iloc[46, 9])
np_q3_q4_20_21_tier2 = format_percent(df_covenants.iloc[47, 9])

print(np_q1_18)
print(np_q2_18)
print(np_q3_q4_20_21)
print("----")
print(np_q1_18_tier1)
print(np_q2_18_tier1)
print(np_q3_q4_20_21_tier1)
print("----")
print(np_q1_18_tier2)
print(np_q2_18_tier2)
print(np_q3_q4_20_21_tier2)
print("///////////////////")


# Front Book
fb_q1_22 = format_percent(df_covenants.iloc[52, 5])
fb_q2_22 = format_percent(df_covenants.iloc[53, 5])
fb_q3_22 = format_percent(df_covenants.iloc[54, 5])
fb_q4_22 = format_percent(df_covenants.iloc[55, 5])
fb_q1_23 = format_percent(df_covenants.iloc[56, 5])
fb_q2_23 = format_percent(df_covenants.iloc[57, 5])
fb_q3_23 = format_percent(df_covenants.iloc[58, 5])

fb_q1_22_tier1 = format_percent(df_covenants.iloc[52, 6])
fb_q2_22_tier1 = format_percent(df_covenants.iloc[53, 6])
fb_q3_22_tier1 = format_percent(df_covenants.iloc[54, 6])
fb_q4_22_tier1 = format_percent(df_covenants.iloc[55, 6])
fb_q1_23_tier1 = format_percent(df_covenants.iloc[56, 6])
fb_q2_23_tier1 = format_percent(df_covenants.iloc[57, 6])
fb_q3_23_tier1 = format_percent(df_covenants.iloc[58, 6])

fb_q1_22_tier2 = format_percent(df_covenants.iloc[52, 9])
fb_q2_22_tier2 = format_percent(df_covenants.iloc[53, 9])
fb_q3_22_tier2 = format_percent(df_covenants.iloc[54, 9])
fb_q4_22_tier2 = format_percent(df_covenants.iloc[55, 9])
fb_q1_23_tier2 = format_percent(df_covenants.iloc[56, 9])
fb_q2_23_tier2 = format_percent(df_covenants.iloc[57, 9])
fb_q3_23_tier2 = format_percent(df_covenants.iloc[58, 9])

print(fb_q1_22)
print(fb_q3_23)
print(fb_q1_22_tier1)
print(fb_q3_23_tier1)
print(fb_q1_22_tier2)
print(fb_q3_23_tier2)

23.63%
22.25%
22.67%
22.91%
22.23%
21.25%
20.97%
21.93%
23.53%
25.08%
26.07%
26.09%
27.56%
----------


30.00%
35.00%
///////////////////
4.24%
7.18%
13.20%
----
14.00%
14.00%

----
17.00%
17.00%

///////////////////
20.09%
17.55%
28.40%
24.40%
33.20%
28.50%

In [ ]:
data = {
    "Metric": [
        "Monthly Originations", "Total", "Ares", "JPM",
        "",  
        "Loan Book Size", "Total", "Ares", "JPM",
        "",
        "Drawn Positions", "Ares", "Senior", "Sub A", "BCI", "Ritmir", "2b Capital",
        "",
        "JPM", "Senior", "Mezz",
        "",
        "WA APR", "Total", "Ares", "JPM",
        "",
        "Financial & Performance Covenants",
        "Financial Covenants", "TNW", "Actuals", "Threshold",
        "Operational Liquidity", "Actuals", "Threshold",
        ""
        "Performance Covenants (rolling 3m avg)", "Excess spread", "Actuals",
        "Blended delinquencies",  "Actuals",
        "Blended losses", "Actuals",
        "First Payment Default", "Actuals",
        "",
        "Concentration Limits",
        "Concentration Limits", "WA Original Term", "Actuals", "Threshold",
        "WA Delphi Score", "Actuals", "Threshold",
        "Average Advance", "Actuals", "Threshold",
        "Concentration Limits", "Original term >48", "Actuals", "Threshold",
        "Near-Prime & Delphi score < 725", "Actuals", "Threshold",
        "Near-Prime & Delphi score of < 650", "Actuals", "Threshold",
        "Original UPB > £5,000", "Actuals", "Threshold",
        "Non-Prime & Delphi Score of < 500", "Actuals", "Threshold",
        "Receivables in arrears (1-30DPD)", "Actuals", "Threshold",
        "Reperformed Covid-19 Modified", "Actuals", "Threshold",
        "Reperformed Covid-19 Modified (Total Holiday >3m)", "Actuals", "Threshold",
        "Prime & Delphi score of < 700", "Actuals", "Threshold",
        "Prime Receivables %", "Actuals", "Threshold",
        "Thin File Receivable %", "Actuals", "Threshold",
        "Single Borrower > £10k/ Single Large Loan Borrower > £15k", "Actuals", "Threshold",
        "",
        "Back Book and Front Book",
        "Cumulative Defaults", "Back Book Non Prime Cumulative Defaults", "Cohort", 
        "2017 Q1", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2017 Q2", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2017 Q3", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2017 Q4", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2018 Q1", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2018 Q2", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2018 Q3", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2018 Q4", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2019 Q1", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2019 Q2", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2019 Q3", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2019 Q4", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2020 Q1", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2020 Q3", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2020 Q4", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2021 Q1", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2021 Q2", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2021 Q3", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2021 Q4", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2022 Q1", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "",
        "Back Book Near Prime Cumulative Defaults", "Cohort",
        "2018 Q1", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2018 Q2", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2018 H2", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2019 Q1", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2019 Q2", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2019 Q3", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2019 Q4", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2020 Q1", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2020 Q3-Q4 & 2021 Vintages", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "",
        "Front Book (Combined) Cumulative Defaults", "Cohort",
        "2022 Q1", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2022 Q2", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2022 Q3", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2022 Q4", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2023 Q1", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2023 Q2", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold",
        "2023 Q3", "Actuals", "Tier 1 Threshold", "Tier 2 Threshold"
    ],
    "Value": [
        "", total_originations_ares + total_originations_jpm, 
        total_originations_ares, total_originations_jpm,
        "",  
        "", book_size_ares + book_size_jpm, 
        book_size_ares, book_size_jpm,
        "",
        "", "", senior_value, sub_a_value, bci_value, ritmir_value, two_b_capital_value,
        "",
        "", senior_jpm_value, mezz_jpm_value,
        "",
        "", wa_apr_total, wa_apr_ares, wa_apr_jpm, 
        "",
        "", "", "", ynw_actual, ynw_actual,
        "", ol_actual, ol_threshold,
        ""
        "", "", spread,
        "", delinquicy,
        "", losses,
        "", default,
        "",
        "", "", "", term, term_thresh,
        "", delphi, delphi_thresh,
        "", average, average_thresh,
        "", "", term_48, term_48_thresh,
        "", delphi_725, delphi_725_thresh,
        "", delphi_650, delphi_650_thresh,
        "", opb_5000, opb_5000_thresh,
        "", delphi_500, delphi_500_thresh,
        "", arrears, arrears_thresh,
        "", covid, covid_thresh,
        "", covid_3m, covid_3m_thresh,
        "", delphi_700, delphi_700_thresh,
        "", prime, prime_thresh,
        "", thin, thin_thresh,
        "", single_borr, single_borr_thresh,
        "",
        "", "", "", "",
        "", q1_17, q1_17_tier1, q1_17_tier2,
        "", q2_17, q2_17_tier1, q2_17_tier2,
        "", q3_17, q3_17_tier1, q3_17_tier2,
        "", q4_17, q4_17_tier1, q4_17_tier2,
        "", q1_18, q1_18_tier1, q1_18_tier2,
        "", q2_18, q2_18_tier1, q2_18_tier2,
        "", q3_18, q3_18_tier1, q3_18_tier2,
        "", q4_18, q4_18_tier1, q4_18_tier2,
        "", q1_19, q1_19_tier1, q1_19_tier2,
        "", q2_19, q2_19_tier1, q2_19_tier2,
        "", q3_19, q3_19_tier1, q3_19_tier2,
        "", q4_19, q4_19_tier1, q4_19_tier2,
        "", q1_20, q1_20_tier1, q1_20_tier2,
        "", q3_20, q3_20_tier1, q3_20_tier2,
        "", q4_20, q4_20_tier1, q4_20_tier2,
        "", q1_21, q1_21_tier1, q1_21_tier2,
        "", q2_21, q2_21_tier1, q2_21_tier2,
        "", q3_21, q3_21_tier1, q3_21_tier2,
        "", q4_21, q4_21_tier1, q4_21_tier2,
        "", q1_22, q1_22_tier1, q1_22_tier2,
        "",
        "", "",
        "", np_q1_18, np_h2_18_tier1, np_q1_18_tier2,
        "", np_q2_18, np_q2_18_tier1, np_q2_18_tier2,
        "", np_h2_18, np_h2_18_tier1, np_h2_18_tier2,
        "", np_q1_19, np_q1_19_tier1, np_q1_19_tier2,
        "", np_q2_19, np_q2_19_tier1, np_q2_19_tier2,
        "", np_q3_19, np_q3_19_tier1, np_q3_19_tier2,
        "", np_q4_19, np_q4_19_tier1, np_q4_19_tier2,
        "", np_q1_20, np_q1_20_tier1, np_q1_20_tier2,
        "", np_q3_q4_20_21, np_q3_q4_20_21_tier1, np_q3_q4_20_21_tier2,
        "",
        "", "",
        "", fb_q1_22, fb_q1_22_tier1, fb_q1_22_tier2,
        "", fb_q2_22, fb_q2_22_tier1, fb_q2_22_tier2,
        "", fb_q3_22, fb_q3_22_tier1, fb_q3_22_tier2,
        "", fb_q4_22, fb_q4_22_tier1, fb_q4_22_tier2,
        "", fb_q1_23, fb_q1_23_tier1, fb_q1_23_tier2,
        "", fb_q2_23, fb_q2_23_tier1, fb_q2_23_tier2,
        "", fb_q3_23, fb_q3_23_tier1, fb_q3_23_tier2,
    ]
}
df_final = pd.DataFrame(data)
df_final

                   Metric        Value
0    Monthly Originations
1                   Total  19863839.68
2                    Ares  11028248.38
3                     JPM    8835591.3
4
..                    ...          ...
243      Tier 2 Threshold       30.50%
244               2023 Q3
245               Actuals       17.55%
246      Tier 1 Threshold       24.40%
247      Tier 2 Threshold       28.50%

[248 rows x 2 columns]

In [51]:
df_final.tail(50)

                                        Metric   Value
198                                    Actuals   9.12%
199                           Tier 1 Threshold  14.00%
200                           Tier 2 Threshold  17.00%
201                                    2019 Q3
202                                    Actuals   9.06%
203                           Tier 1 Threshold  14.00%
204                           Tier 2 Threshold  17.00%
205                                    2019 Q4
206                                    Actuals   9.06%
207                           Tier 1 Threshold  14.00%
208                           Tier 2 Threshold  17.00%
209                                    2020 Q1
210                                    Actuals   6.80%
211                           Tier 1 Threshold
212                           Tier 2 Threshold
213                 2020 Q3-Q4 & 2021 Vintages
214                                    Actuals  13.20%
215                           Tier 1 Threshold
216                           Tier 2 Threshold
217
218  Front Book (Combined) Cumulative Defaults
219                                     Cohort
220                                    2022 Q1
221                                    Actuals  20.09%
222                           Tier 1 Threshold  28.40%
223                           Tier 2 Threshold  33.20%
224                                    2022 Q2
225                                    Actuals  21.62%
226                           Tier 1 Threshold  28.30%
227                           Tier 2 Threshold  33.10%
228                                    2022 Q3
229                                    Actuals  21.76%
230                           Tier 1 Threshold  28.20%
231                           Tier 2 Threshold  33.00%
232                                    2022 Q4
233                                    Actuals  20.97%
234                           Tier 1 Threshold  28.00%
235                           Tier 2 Threshold  32.70%
236                                    2023 Q1
237                                    Actuals  19.57%
238                           Tier 1 Threshold  27.20%
239                           Tier 2 Threshold  31.80%
240                                    2023 Q2
241                                    Actuals  18.81%
242                           Tier 1 Threshold  26.10%
243                           Tier 2 Threshold  30.50%
244                                    2023 Q3
245                                    Actuals  17.55%
246                           Tier 1 Threshold  24.40%
247                           Tier 2 Threshold  28.50%

In [52]:

file_name = "oakbrook_monitoring_sheet.xlsx"
df_final.to_excel(file_name, index=False, header = False)
wb = load_workbook(file_name)
ws = wb.active

for row in ws.iter_rows(min_row=2, max_row=ws.max_row, min_col=1, max_col=2):
    metric_cell, value_cell = row
    if value_cell.value in ["", None]: 
        metric_cell.font = Font(bold=True)

wb.save(file_name)
print(f"Formatted Excel file saved as {file_name}")

Formatted Excel file saved as oakbrook_monitoring_sheet.xlsx

In [24]:
print("Length of 'Metric' list:", len(data["Metric"]))
print("Length of 'Value' list:", len(data["Value"]))

Length of 'Metric' list: 248
Length of 'Value' list: 248

In [54]:
df_oc2

,AgreementRef,StartDate,PurchaseDate,LOB,MonthOfRecruitment,YearMonthSnapshot,APR,LoanTerm,LoanSize,AccountOriginationSource,...,h,i,j,k,l,m,n,o,p,q
0,1300382496,44305,44620,Prime,202104,202501,11.9,36,10000.00,Clearscore - Direct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1300382777,44305,44620,Prime,202104,202501,12.9,30,9000.00,Clearscore - Direct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1300383042,44306,44620,Prime,202104,202501,12.9,24,3000.00,Clearscore - Direct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1300383411,44308,44620,Prime,202104,202501,10.9,24,5000.00,Clearscore - Direct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1300386057,44320,44620,Prime,202105,202501,10.9,48,7000.00,Clearscore - Direct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45748,1300730415,45684,45687,Near Prime,202501,202501,28.8,60,10000.00,asda,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45749,1300730832,45685,45688,Near Prime,202501,202501,19.4,60,9878.77,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45750,1300730999,45685,45688,Near Prime,202501,202501,19.8,51,16847.50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45751,1300731005,45685,45688,Near Prime,202501,202501,33.9,41,4460.25,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45752,1300731133,45686,45689,Near Prime,202501,202501,34.9,12,3000.00,realrates,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN