In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/shivangsingh/Downloads/202412 - JPM.csv')
df

/var/folders/xh/jp0rh_x11gxdpdfdn0550hnc0000gp/T/ipykernel_7035/4058140741.py:1: DtypeWarning: Columns (88,89,95,96,97,98,110,111,135,138,141,147) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/shivangsingh/Downloads/202412 - JPM.csv')

,Unnamed: 0,AgreementRef,StartDate,PurchaseDate,LOB,MonthOfRecruitment,YearMonthSnapshot,APR,LoanTerm,LoanSize,...,h,i,j,k,l,m,n,o,p,q
0,202104.0,1300382496,19/04/21,28/02/22,Prime,202104,202412,11.9,36,10000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202104.0,1300382777,19/04/21,28/02/22,Prime,202104,202412,12.9,30,9000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,202104.0,1300383042,20/04/21,28/02/22,Prime,202104,202412,12.9,24,3000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,202104.0,1300383411,22/04/21,28/02/22,Prime,202104,202412,10.9,24,5000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,202105.0,1300386057,04/05/21,28/02/22,Prime,202105,202412,10.9,48,7000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44196,NaN,1300722121,45653,45656,Near Prime,202412,202412,29.9,31,3269.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44197,NaN,1300722318,45655,45658,Near Prime,202412,202412,38.9,24,861.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44198,NaN,1300722766,45657,45660,Near Prime,202412,202412,24.8,60,7500.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44199,NaN,1300722775,45657,45660,Near Prime,202412,202412,25.8,60,6000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44200,NaN,1300722848,45657,45660,Near Prime,202412,202412,22.8,60,6000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN